.cod-popup-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cod-border: #c6d5e6;

  --cod-text: #000;
  --cod-badge: #fff;
}
body {
  overflow-x: hidden !important;
}
.font-semi {
  font-weight: 500;
  margin: 0;
}
.larger {
  font-weight: 600;
  color: var(--cod-text, #000);
  line-height: 2px;
  margin: 0;
}

.message-popup {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  display: none;
}

.message-popup.show {
  display: block;
}

.message-box {
  padding: 14px 18px;
  border-radius: 8px;
  min-width: 250px;
  max-width: 320px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slideIn 0.3s ease;
}
.message-box.success span,
.message-box.success {
  background: #22c55e;
  color: #052e16;
}

.message-box.success button {
  color: #052e16;
}
.message-box.error span,
.message-box.error {
  background: #ef4444;
  color: #ffffff;
}

.message-box.error button {
  color: #ffffff;
}
.message-box.info span,
.message-box.info {
  background: #3b82f6;
  color: #eff6ff;
}

.message-box.info button {
  color: #eff6ff;
}

.message-box button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.cod-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start; /* key change */
  justify-content: center;

  padding: 1vh 20px;

  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(12px) saturate(120%);
  overflow-y: auto;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 999;
}

/* ACTIVE STATE */
.cod-popup.active {
  opacity: 1;
  visibility: visible;
}

/* CONTENT BOX */
.cod-popup-content {
  background: #fff;
  padding: 8px 16px;
  border-radius: 12px;
  width: 100%;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* ANIMATION */
.cod-popup.active .cod-popup-content {
  transform: translateY(0);
}

#buyNowBtn,
#submitBtn {
  margin-block: 1rem;
}
#submitBtn {
  align-self: center;
}
#submitBtn:hover svg,
#buyNowBtn svg {
  stroke: #fff;
  transition: all 0.3s;
}
#submitBtn svg,
#buyNowBtn:hover svg {
  stroke: #7775d2;
}

.cod-popup-content form {
  display: flex;
  flex-direction: column;
}

.popup-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid var(--cod-border);
}
.popup-title h3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  line-height: normal;
}
.popup-details {
  border: 2px solid var(--cod-border);
  padding: 16px 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.popup-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.popup-details p.larger {
  width: 100%;
  text-align: end;
}
.cod-close {
  cursor: pointer;
  font-size: 1.8rem;
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease;
}
.cod-close:hover {
  color: #7775d2;
  transform: scale(1.1);
}
.cod-close:active {
  color: #7775d2;
  transform: scale(0.9);
}
.packs-field,
#codOrderForm fieldset {
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;
  margin: 0;
  padding: 4px 0;
}
#codOrderForm fieldset label {
  color: var(--cod-text, #000);
}
.input-with-icon {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  border: 1px solid var(--cod-border);
  transition: all 0.3s;
  border-radius: 8px;
  overflow: hidden;
}
.input-with-icon svg {
  width: fit-content;
  aspect-ratio: 1;
  margin-inline: 10px;
}
/* padding: 12px 10px;  */

#codOrderForm .input-with-icon input {
  flex: 1;
  padding: 4px 16px;
  font-size: 17px;
  border: none;
  outline: none;
  border-left: 1px solid var(--cod-border);
  line-height: 2px;
  width: 100%;
}
#codOrderForm .input-with-icon input:focus-visible {
  background: transparent;
}
.input-with-icon:focus-within {
  outline: 2px solid #3b82f6;
  outline-offset: 1px;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
  border-color: #3b82f6;
}
.input-with-icon:hover {
  border-color: #16a221;
}
/* =================Quanitiy Seclectors------------------ */
.pack-offer {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  border: 2px solid var(--cod-pack);
  border-radius: 8px;
  padding: 8px;
  justify-content: space-between;
}
.packs-field {
  gap: 16px;
}
.pack-quantity {
  display: flex;
  gap: 8px;
  align-items: center;
}
.pack-badge {
  position: absolute;
  top: -12px;
  right: 10px;
  background: var(--cod-pack);
  color: var(--cod-badge, #fff);
  padding: 2px 10px 0;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px 0 8px;
}
.mini-badge {
  padding: 1px 8px 0;
  background: var(--cod-pack);
  color: var(--cod-badge, #fff);
  padding: 2px 10px 0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px 0 12px;
}
.dis-prices {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
}
.dis-prices .total-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #46565e;
}
/* ======================== */
/* new quantity picker styles */
.quantity-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
}
.q-box {
  position: relative;
  border: 2px solid saddlebrown;
  padding: 25px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 4px;
  background: #e0e0e0;
  box-shadow:
    20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}
.q-box p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
}
.q-box:has(.box-radio:checked) {
  border-color: blue;
}
.q-box img {
  width: auto;
  height: 100%;
  max-height: 100px;
  object-position: center;
  object-fit: cover;
}
.q-box:first-child p {
  margin-top: 10px;
}
.q-box p:not(.dismised) {
  font-size: 17px;
  font-weight: 600;
}
.p-margin {
  margin-top: 20px !important;
}
.dismised {
  text-decoration: line-through;
  font-size: 15px;
  opacity: 0.8;
}
.q-badge {
  display: var(--display);
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 4px;
  text-align: center;
}
/* ======================= */
.btn-wobble {
  position: relative;
  animation: wobble 2s infinite ease-in-out;
}
@keyframes wobble {
  0% {
    transform: none;
    transform-origin: center;
  }
  15% {
    transform: translate3d(0, -25%, 0) rotate3d(0, 0, 1, -5deg);
    transform-origin: center;
  }
  30% {
    transform: translate3d(0, 20%, 0) rotate3d(0, 0, 1, 3deg);
    transform-origin: center;
  }
  45% {
    transform: translate3d(0, -15%, 0) rotate3d(0, 0, 1, -3deg);
    transform-origin: center;
  }
  60% {
    transform: translate3d(0, 10%, 0) rotate3d(0, 0, 1, 2deg);
    transform-origin: center;
  }
  75% {
    transform: translate3d(0, -5%, 0) rotate3d(0, 0, 1, -1deg);
    transform-origin: center;
  }
  100% {
    transform: none;
    transform-origin: center;
  }
}
.vibrate {
  animation: vibrate-1 1.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
