# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "cb51ee28ef113905e4afa7a7f122b4c9"
name = "best-cod-app"
application_url = "https://code-backend-azure.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,write_customers,read_orders,write_orders,read_products,write_products"
[app_proxy]
url = "https://code-backend-azure.vercel.app/api/create-order"
subpath = "cod"
prefix = "apps"

[auth]
redirect_urls = [ "https://code-backend-azure.vercel.app" ]
